body {
    background: #add8e6;
}

caption {
    color: green;
    font-size: 250%;
}

button {
    background: lightseagreen;
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border: 1px solid #000080;
}

th {
    background: #000080;
    color: #ffe;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

td {
    background: aquamarine;
    color: black;
    font-size: 1.5em;
}

label, input {
    color: black;
}

label {
    font-size: 160%;
}

input {
    background: white;
    font-size: 130%;
}