<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find by ID Post</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<form action="../index.html">
    <button>HOME PAGE</button>
</form>
<h3>Find By ID Post</h3>
<form method="get" th:action="@{/post/id}">
    <label for="postId">Post ID</label>
    <input type="text" th:name="postId" id="postId"/><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>