<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post update</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<form action="../index.html">
    <button>HOME PAGE</button>
</form>
<h2>Update Actor</h2>
<p>
<form method="POST" th:object="${post}" th:action="@{/post/update}">

    <label for="id">ID</label>
    <input style="background: lightgrey" type="text" readonly="true" th:field="*{id}" id="id"/><br><br>

    <label for="header">Header</label>
    <input type="text" th:field="*{header}" id="header"/><br><br>

    <label for="content">Content</label>
    <input size="20" type="text" th:field="*{content}" id="content"/><br><br>

    <label for="createdAt">Created</label>
    <input style="background: lightgrey" type="text" readonly="true" th:field="*{createdAt}" id="createdAt"/><br><br>

    <label for="numberOfComments">Number of views</label>
    <input style="background: lightgrey" type="text" readonly="true"
           th:field="*{numberOfComments}" id="numberOfComments"/><br><br>

    <button type="submit">Submit</button>

</form>
</p>
</body>
</html>