<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
<body>
<form action="../index.html">
    <button>HOME PAGE</button>
</form>
<h2>Create Post</h2>

<p>
<form method="POST" th:object="${post}" th:action="@{/post}">

    <label for="header">Header</label>
    <input size="40" type="text" th:field="*{header}" id="header"/><br><br>

    <label for="content">Content</label>
    <input size="150" type="text" th:field="*{content}" id="content"/><br><br>

    <button type="submit">Submit</button>

</form>
</p>
</body>
</html>