<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>POST</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<form action="../index.html">
    <button>HOME PAGE</button>
</form>
<table border="3px">
    <caption>POSTS</caption>
    <tr>
        <th>ID</th>
        <th>Header Name</th>
        <th>Content Data</th>
        <th>Created To Date</th>
        <th>Number Of Comments</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.header}"></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.createdAt}"></td>
        <td th:text="${post.numberOfComments}"></td>

        <td>
            <form ACTION="#" th:action="@{/post/update-button}" th:object="${post}" method="get">
                <input type="hidden" th:value="${post.id}" name="id"/>
                <input type="hidden" th:value="${post.header}" name="header"/>
                <input type="hidden" th:value="${post.content}" name="content"/>
                <input type="hidden" th:value="${post.createdAt}" name="createdAt"/>
                <input type="hidden" th:value="${post.numberOfComments}" name="numberOfComments"/>
                <button type="update">Update</button>
            </form>
        </td>
        <td>
            <form th:action="@{/post/delete(postId=${post.id})}" form th:method="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>